body{               /*styles for body tag*/
    margin:0;
    padding:0;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family:'jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #3e243e);
    
}
.main{            /*styling the main container*/
    width:400px;
    height: 480px;
    background-color: red;
    overflow: hidden;        /* this property controls what happens to content that is too big to fit into an area*/
    background:url("1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    justify-content: center;
}
#chk{
    display: none;
}
.signup{
    width:100%;
    height:100%;
    position: relative;
    justify-content: center;
    align-items: center;
}
label{
    color: #fff;
    font-size:35px;
    display:flex;
    margin:60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;    /*they allow to change property values smoothly,over a given duration*/
    margin-bottom: 10px;

}
input{
    width:60%;
    height:20px;
    background: white;
    justify-content: center;
    display:flex;
    margin:18px auto;
    padding:10px;
    border:none;
    outline:none;
    border-radius:50px;
}
button{
    width:60%;
    height:40px;
    margin:10px auto;
    justify-content: center;
    display:block;
    color:white;
    background:rgb(139, 12, 135);
    font-size:20px;
    font-weight:bold;
    margin-top: 18px;
    outline:none;
    border:none;
    border-radius: 10px;
    transition: 0.3s ease-in;              /*they allow to change property values smoothly,over a given duration*/
    box-shadow: 5px 20px 40px black;
}
button:hover{
    background:#170b17;
}
.login{
    height:460px;
    background:#fff;
    border-radius:60% / 10%;
    transform:translateY(-185px);         
    transition: 0.8s  ease-in-out;
    text-align: center;
}
.login label{
    color:#302b63;
    text-align: center;
    transform: scale(.6);
}
.login p{
    text-align: center;
    padding:20px;
}
#chk:checked ~ .login{                 /*selects every element (login) that is preceded by a (chk) element*/
    transform:translateY(-500px);
}
#chk:checked ~ .login label{              /*selects every element (login lebel) that is preceded by a (chk) element*/
    transform:translateY(-500px);
    transform:scale(1);
}
#chk:checked ~ .signup label{              /*selects every element (signup label) that is preceded by a (chk) element*/
    transform:translateY(-500px);
    transform: scale(.6);
}